html {
    height: 100%;
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Droid Sans", helvetica, arial, sans-serif;
/*    text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);*/
    height: 100%;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

header, nav, article, aside, footer, hgroup, section {
    display: block;
}

div#container {
    margin-left:auto;
    margin-right:auto;
    width: 780px;
    font-size: 17px;
    min-height: 700px;
    padding-top: 10px;
}

p {
    line-height: 120%;
}

a {
    color: rgb(70,70,70);
    /*text-decoration: none;*/
}

a:hover {
    color: rgb(100,100,200);
}

li, ol {
    margin: 10px 0 10px 0;
}

/****************************/
/* Header */
/****************************/

header {
}

div#header {
    color: rgb(40,40,40);
    /*font-family: Georgia, "Times New Roman", Times, serif;*/
    font-size: 2em;
    /*font-weight: bold;*/
    text-align: center;
    padding-top: 15px;
    padding-top: 15px;
}

div#header a {
    color: rgb(25,25,25);
    text-decoration: none;
}

div#header a:hover {
    color: rgb(50,50,50);
}

/****************************/
/* Navigation */
/****************************/
/*div#navigation {
    border-top: 1px solid #fff;
    background: #2A4480;
    width: 100%;
    margin: 0;
}
div#navigation * {
    margin: 0;
    padding: 0;
}
div#navigation ul {
    list-style-type: none;
}
div#navigation li {
    float: left;
}
div#navigation a {
    padding-right: 32px;
    padding-left: 32px;
    display: block;
    text-decoration: none;
    font-weight: normal;
    color: #ffffff;
    font-size: 21px;
}
div#navigation a:hover,
div#navigation a.selected {
    background: #3A5490;
}*/


/****************************/
/* Footer */
/****************************/
div#footer {
    color: #fff;
    border-top: 1px solid #fff;
    background: #2A2A2A;
    width: 100%;
}

div#footer a{
    color: #fff;
}

div#credits p {
    margin: 2px;
    width: 100%;
    text-align: right;
}


/****************************/
/* Content Block */
/****************************/
#prose_block {
}

#prose_block article {
}

/* Basic blocks aligned vertically hold all the content */
.basic_block {
    margin: 0px 0px 10px 0px;
    padding: 10px;
    
    background: #8f8f8f; /* xxx */
    display: block; 
}

/****************************/
/* Blog Posts */
/****************************/
.blog_post * {
}
.blog_post {
}

.blog_post article {
    margin: 0 0 0px 0;
    padding-bottom: 0px;
/*    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;*/
}
.blog_post article header {
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #eee;
    height: 40px;
}
.blog_post article footer {
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #444;
    height: 20px;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}
.blog_post article footer a {
    text-decoration: none;
}

.blog_post article header a {
    text-decoration: none;
}

.blog_post header .date {
    float: left;
    text-align: right;
    width: 50px;
    height: 40px;
    font-size: 24px;
    margin-right: 12px;
    padding-right: 10px;
    background-color: #06266F;
    background-color: rgba(0, 0, 126, 0.2);
    border-right: 1px solid #600;
    border-right-color: #06266F;
    border-right-color: rgba(0, 32, 96, 0.9);
    border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    box-shadow: inset 1px 0 15px rgba(0, 72, 96, 0.9);
    -moz-box-shadow: inset 1px 0 15px rgba(0, 72, 96, 0.9);
}

.blog_post header .year {
    font-size: 15px;
    text-align: center;
    width: 40px;
    line-height: 16px;
    margin: 12px 0 0 -7px;
    display: block;
    color: #6677AA;
    transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
}

.blog_post header .day {
    font-size: 18px;
    height: 24px;
    text-align: center;
    float: right;
    margin: -25px 0 0 -10px;
}

.blog_post header .month {
    display:block;
    font-size:12px;
    height:16px;
    font-family: monospace;
    margin-top: -8px;
    margin-right: -1px;
}


.blog_post header .blog_post_categories a {
    color: rgb(20,20,250);
    text-decoration: none;
}

.blog_post header .blog_post_categories a:hover {
      color: rgb(50,50,190);
      text-decoration: none;
}


.blog_post_title {
    font-size: 1.6em;
    font-weight: normal;
    overflow: hidden;
    display: inline; /* There might be better solution for this */
}

.blog_post_title a {
    color: rgb(50,50,50);
    text-decoration: none;
}

.blog_post_title a:hover {
    color: rgb(20,20,70);

}

.post_body {
    padding-top: 10px;
    padding-bottom: 15px;
    min-height: 60px;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    background: #e3e3e3;
}
.post_prose {
    /*margin-left: 10px;*/
}

/* TODO: Mayber remove these two */
/*.post_prose a:hover {
     background-color: #eaf4ff;
}
.post_prose a {
    color:#4671D5;
    text-decoration:none;
}*/

.syntax_highlight {
    background: rgb(40,40,40);
    margin: 15px 10px 15px 20px;
    font-size: 0.8em;
}

/* Adjustment for syntax highlighting  */
.syntax_highlight  pre {
    padding: 5px;
}


/****************************/
/* Bottom navigation        */
/****************************/
a.bottom_navigation_link {
    color: rgb(20, 20, 190);
    text-decoration: none;
}

a:hover.bottom_navigation_link {
    color: rgb(50, 50, 190);
    color: rgb(100,100,200);
}

/****************************/
/* Sidebar */
/****************************/

/* #sidebar { */
/*     margin-top: 10px; */
/* } */

/* aside { */
/*     width: 260px; */
/*     float: right; */
/*     margin-bottom: 30px; */
/*     padding: 0 20px 20px 0; */
/*     position: relative; */
/*     z-index: 1; */
/*     background: #8f8f8f; */
/* } */
/* aside h1, footer h1 { */
/*     font-size: 18px; */
/*     font-weight: normal; */
/*     line-height: 28px; */
/*     height: 28px; */
/*     margin-bottom: 10px; */
/*     color: #fff; */
/*     padding: 0 10px; */
/*     border: 1px solid #aaa; */
/*     border-radius: 10px; */
/*     -moz-border-radius: 10px; */
/*     -webkit-border-radius: 10px; */
/* } */

/* aside nav, aside section { */
/*     margin: 0 0 25px 0; */
/*     padding: 0; */
/*     background: none; */
/* } */
/* aside ul, aside ol { */
/*     list-style: none outside none; */
/* } */
/* aside li { */
/*     margin-left: -25px; */
/*     text-decoration: none; */
/*     border-bottom: 1px dashed #ddd; */
/* } */
/* .tweet_list { */
/*     font-size: 0.8em; */
/* } */
/* .tweet_list li { */
/*     margin-bottom: 10px; */
/* } */
/* .tweet_list img { */
/*     float: left; */
/*     margin-right: 10px; */
/* } */

/****************************/
/* Non-blog pages */
/****************************/
/*.page_box {

    margin: 20px;
    padding: 20px;
    background: #e3e3e3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}*/
/****************************/
/* Fonts */
/****************************/
.theme_font, .theme_font * {
    font-family: 'Architects Daughter', arial, serif;    
}
.theme_font2, .theme_font2 * {
    font-family: 'Droid Sans', arial, serif;    
}



/* blockquote */
blockquote {
	background-color:#5e5e5e;	
	padding: 1px 15px 1px 15px;
}
